<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>User Login</h3>
<form>
    <div align="center">
        <table>
            <tr>
                <th>Login ID:</th>
                <td><input type="text" name="loginId"></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" name="operation" value="signIn">
                    <input type="submit" name="operation" value="signUp">
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>