<!DOCTYPE html>
<html>
<head>
<title>Marksheet</title>

<style>
body{
    font-family: Arial;
}

table{
    border-collapse: collapse;
    width: 400px;
}

th, td{
    border:1px solid black;
    padding:8px;
    text-align:center;
}

input{
    width:90%;
}

button{
    padding:6px;
}
</style>

</head>

<body>



<form method="post">
{% csrf_token %}
    <div align="center">
    <h2>Student Marksheet</h2>
 <h3><font color="green">{{ message }}</font></h3>
<table>

<tr>
<td>Name</td>
<td><input type="text" name="name"></td>
</tr>

<tr>
<td>Roll No</td>
<td><input type="number" name="rollno"></td>
</tr>

<tr>
<td>Physics</td>
<td><input type="number" name="physics"></td>
</tr>

<tr>
<td>Chemistry</td>
<td><input type="number" name="chemistry"></td>
</tr>

<tr>
<td>Maths</td>
<td><input type="number" name="maths"></td>
</tr>

<tr>
<td colspan="2">
<button type="submit">Add Record</button>
</td>
</tr>

</table>
</div>
</form>

</body>
</html>