<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div align="center">

        <h1>User List Table</h1>
        <table border="1%" width="100%">
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for l in list %}
            <tr>
                <td>{{ l.id }}</td>
                <td>{{ l.firstName }}</td>
                <td>{{ l.lastName }}</td>
                <td>{{ l.email }}</td>
                <td>{{ l.password }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</form>
</body>
</html>