<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "Header.html" %}
    <form method="POST">
        {% csrf_token %}
        <div align="center">
            <h1>Change Password ??</h1>
            {% if form.error %}
                <h3><font color="red"> {{ form.message }} </font></h3>
            {% else %}
                <h3><font color="green"> {{ form.message }} </font></h3>
            {% endif %}
            <table>
                <input type="hidden" name="id" value="{{form.id}}">
                <tr>
                    <th>Old Password:</th>
                    <td><input type="text" name="oldPassword" value="{{form.oldPassword}}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.oldPassword }}</td>
                </tr>
                <tr>
                    <th>New Password:</th>
                    <td><input type="text" name="newPassword" value="{{form.newPassword}}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.newPassword }}</td>
                </tr>
                <tr>
                    <th>Confirm Password:</th>
                    <td><input type="text" name="confirmPassword" value="{{form.confirmPassword}}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.confirmPassword }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="save"></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>