<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "Header.html" %}
    <form method="POST">
        {% csrf_token %}
        <div align="center">
            <h1>Add College</h1>
            {% if form.error %}
                <h3><font color="red">{{ form.message }}</font></h3>
            {% else %}
                <h3><font color="green">{{ form.message }}</font></h3>
            {% endif %}
            <table>
                <input type="hidden" name="id" value="{{ form.id }}">
                <tr>
                    <th>Name:</th>
                    <td><input type="text" name="name" value="{{ form.name }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.name }}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td><input type="text" name="address" value="{{ form.address }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.address }}</td>
                </tr>
                <tr>
                    <th>State:</th>
                    <td><input type="text" name="state" value="{{ form.state }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.state }}</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td><input type="text" name="city" value="{{ form.city }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.city }}</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td><input type="text" name="phoneNumber" value="{{ form.phoneNumber }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.phoneNumber }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="save"></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>