<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Include jQuery UI -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- Include jQuery UI CSS -->
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="{% static 'js/checkbox.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
</head>
<body>
{% if request.session.role == None %}
<h3>Hi, Guest</h3>
<a href="/ORS/Welcome/"><b>Welcome</b></a> |
<a href="/ORS/Login/"><b>Login</b></a>
{% else %}
<h3>Hi, {{request.session.user.firstName }} ( {{request.session.role}} ) </h3>
<a href="/ORS/User/"><b>Add User</b></a> |
<a href="/ORS/UserList/"><b>User List</b></a> |
<a href="/ORS/Role/"><b>Add Role</b></a> |
<a href="/ORS/RoleList/"><b>Role List</b></a> |
<a href="/ORS/College/"><b>Add College</b></a> |
<a href="/ORS/CollegeList/"><b>College List</b></a> |
<a href="/ORS/Course/"><b>Add Course</b></a> |
<a href="/ORS/CourseList/"><b>Course List</b></a> |
<a href="/ORS/Subject/"><b>Add Subject</b></a> |
<a href="/ORS/SubjectList/"><b>Subject List</b></a> |
<a href="/ORS/Faculty/"><b>Add Faculty</b></a> |
<a href="/ORS/FacultyList/"><b>Faculty List</b></a> |
<a href="/ORS/Marksheet/"><b>Add Marksheet</b></a> |
<a href="/ORS/MarksheetList/"><b>Marksheet List</b></a> |
<a href="/ORS/MarksheetMeritList/"><b>Marksheet Merit List</b></a> |
<a href="/ORS/Student/"><b>Add Student</b></a> |
<a href="/ORS/StudentList/"><b>Student List</b></a> |
<a href="/ORS/TimeTable/"><b>Add TimeTable</b></a> |
<a href="/ORS/TimeTableList/"><b>TimeTable List</b></a> |
<a href="/ORS/ChangePassword/"><b>Change Password</b></a> |
<a href="/ORS/Logout/"><b>Logout</b></a>
{% endif %}
<hr>
</body>
</html>