<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "Header.html" %}
    <form method="POST">
        {% csrf_token %}
        <div align="center">
            <h1>Add Subject</h1>
            {% if form.error %}
                <h3><font color="red">{{ form.message }}</font></h3>
            {% else %}
                <h3><font color="green">{{ form.message }}</font></h3>
            {% endif %}
            <table>
                <input type="hidden" name="id" value="{{ form.id }}">
                <tr>
                    <th>Name:</th>
                    <td><input type="text" name="name" value="{{ form.name }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.name }}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td><input type="text" name="description" value="{{ form.description }}"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.description }}</td>
                </tr>
                <tr>
                    <th>Course:</th>
                    <td>
                        <select name="courseId" style="width:100%">
                            <option value="{{ form.courseId }}">{{ form.courseName }}</option>
                            {% for course in courseList %}
                                <option value="{{ course.id }}">{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="position: fixed; color: red;">{{ form.inputError.courseId }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="save"></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>